---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Page not found - lefthanded.io" bodyClass="error-template" noIndex={true}>
  <div class="content-area">
    <main class="site-main">
      <div class="container medium">
        <article class="post single-post">
          <header class="post-header big-title">
            <h1 class="post-title">404</h1>
          </header>
          <div class="post-content gh-content">
            <p>This page doesn't exist. Maybe try the <a href="/">homepage</a>?</p>
          </div>
        </article>
      </div>
    </main>
  </div>
</BaseLayout>
