---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('posts');
const disclosuresPost = allPosts.find(p => p.data.slug === 'disclosures');
---

<BaseLayout title="Disclosures" description={disclosuresPost?.data.description} bodyClass="page-template page-disclosures">
  <div class="content-area">
    <main class="site-main">
      <article class="post single-post">
        <header class="post-header big-title container medium">
          <h1 class="post-title">Disclosures</h1>
        </header>
        <div class="post-content gh-content kg-canvas" set:html={disclosuresPost?.body} />
      </article>
    </main>
  </div>
</BaseLayout>
